<settings>
<servers>
  <server>
    <id>code-domain-my-code-repo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>code-domain-my-code-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>code-domain-my-code-repo</id>
        <url>https://code-domain-637107289912.d.codeartifact.us-east-2.amazonaws.com/maven/my-code-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>code-domain-my-code-repo</id>
    <name>code-domain-my-code-repo</name>
    <url>https://code-domain-637107289912.d.codeartifact.us-east-2.amazonaws.com/maven/my-code-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
